

#intro {
	margin: 20px 0;
	line-height: 2; /*If you give it no (px)(em) then you are multiplying*/
}

#mainquote {
	background: url(../images/mainquote.png) no-repeat;
	width: 512px; 
	height: 259px;
	text-indent: -9999px;
	margin: 0 0 20px -15px;
}

#featured-widgets {
	list-style: none;
}

#featured-widgets li {
	position: relative;
	margin: 0 0 20px 0;
}

#featured-widgets li h3 {
	background:  #647484;
	color: white;
	font-size: 18px;
	font-weight: normal;
	padding: 4px;
	text-indent: 200px
}

#featured-widgets li p {
	padding: 0 0 0 204px;
	color: #666;
	line-height: 1.5;
	margin: 12px 0;
}

#featured-widgets li img {
	position: absolute;
	top: -10px;
	left: 0;
}

/*Giving a space means look for a child.
leaving it close means it's a class of.*/

#featured-widgets li .button {
	position: absolute;
	top: 150px;
	left: 32px;
}
